# 数据处理

In [7]:
import pandas as pd
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)

In [8]:
data=pd.read_excel('ziroom.xlsx',header=None)
data.head()

                                                   0
0  3560 合租·地杰国际城F欧香四季4居室-南卧 18㎡  14/18层 小区距御桥站步行约...
1   9460 整租·华升公寓2室1厅-南 96.41㎡  20/34层 小区距江浦路站步行约150米
2     3290 合租·博爱家园4居室-南卧 17.5㎡  6/6层 小区距高科西路站步行约234米
3     3030 合租·紫叶花园东园4居室-南卧 17.5㎡  5/6层 小区距北蔡站步行约216米
4   3990 合租·仁和苑4居室-南卧 17.41㎡  7/12层 小区距江湾体育场站步行约243米

In [9]:
df1=data[0].str.split(' ',expand=True)
df1.head()

      0                    1       2 3       4                 5
0  3560  合租·地杰国际城F欧香四季4居室-南卧     18㎡    14/18层     小区距御桥站步行约191米
1  9460        整租·华升公寓2室1厅-南  96.41㎡    20/34层    小区距江浦路站步行约150米
2  3290        合租·博爱家园4居室-南卧   17.5㎡      6/6层   小区距高科西路站步行约234米
3  3030      合租·紫叶花园东园4居室-南卧   17.5㎡      5/6层     小区距北蔡站步行约216米
4  3990         合租·仁和苑4居室-南卧  17.41㎡     7/12层  小区距江湾体育场站步行约243米

In [10]:
df1.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
dtype: object

In [11]:
df1['square']=df1[2].str.extract('(\d+)')
df1['square']=df1['square'].astype(int)
df1.head()

      0                    1       2 3       4                 5  square
0  3560  合租·地杰国际城F欧香四季4居室-南卧     18㎡    14/18层     小区距御桥站步行约191米      18
1  9460        整租·华升公寓2室1厅-南  96.41㎡    20/34层    小区距江浦路站步行约150米      96
2  3290        合租·博爱家园4居室-南卧   17.5㎡      6/6层   小区距高科西路站步行约234米      17
3  3030      合租·紫叶花园东园4居室-南卧   17.5㎡      5/6层     小区距北蔡站步行约216米      17
4  3990         合租·仁和苑4居室-南卧  17.41㎡     7/12层  小区距江湾体育场站步行约243米      17

In [12]:
df1['metro_distance']=df1[5].str.extract('(\d+)')
df1['metro_distance']=df1['metro_distance'].astype(int)
df1.head()
df1.dtypes

0                 object
1                 object
2                 object
3                 object
4                 object
5                 object
square             int64
metro_distance     int64
dtype: object

In [13]:
df1['floor']=df1[4].apply(lambda x: eval(x.split('/')[0]))
df1['floor']=df1['floor'].astype(int)
df1.dtypes

0                 object
1                 object
2                 object
3                 object
4                 object
5                 object
square             int64
metro_distance     int64
floor              int64
dtype: object

In [14]:
df1['floors']=df1[4].apply(lambda x: x.split('/')[1])

In [15]:
df1['floors']=df1['floors'].str.extract('(\d+)')
df1['floors']=df1['floors'].astype(int)

In [16]:
df1['price']=df1[0].astype(int)

In [17]:
df1['type']=[x[:2]for x in df1[1]]
df1['title']=df1[1]

In [18]:
df1['metro']=df1[5].apply(lambda x: x.split('距')[1])

In [19]:
df1.head(1)

,0,1,2,3,4,5,square,metro_distance,floor,floors,price,type,title,metro
0,3560,合租·地杰国际城F欧香四季4居室-南卧,18㎡,,14/18层,小区距御桥站步行约191米,18,191,14,18,3560,合租,合租·地杰国际城F欧香四季4居室-南卧,御桥站步行约191米

In [20]:
df1['metro']=df1['metro'].apply(lambda x: x.split('站')[0])
df1.head(1)

,0,1,2,3,4,5,square,metro_distance,floor,floors,price,type,title,metro
0,3560,合租·地杰国际城F欧香四季4居室-南卧,18㎡,,14/18层,小区距御桥站步行约191米,18,191,14,18,3560,合租,合租·地杰国际城F欧香四季4居室-南卧,御桥

In [21]:
housing=df1[['title','type','metro','metro_distance','square','price','floor','floors']]
housing.head()

,title,type,metro,metro_distance,square,price,floor,floors
0,合租·地杰国际城F欧香四季4居室-南卧,合租,御桥,191,18,3560,14,18
1,整租·华升公寓2室1厅-南,整租,江浦路,150,96,9460,20,34
2,合租·博爱家园4居室-南卧,合租,高科西路,234,17,3290,6,6
3,合租·紫叶花园东园4居室-南卧,合租,北蔡,216,17,3030,5,6
4,合租·仁和苑4居室-南卧,合租,江湾体育场,243,17,3990,7,12

In [22]:
housing.shape

(1333, 8)

In [23]:
housing = housing.drop_duplicates()
housing.shape

(1327, 8)

In [24]:
housing['mon_price'] = housing['price'] 
housing.loc[housing['price']<600,'mon_price'] *= 30 
housing= housing.dropna()
housing.shape

(1327, 9)

In [25]:
housing.head()

,title,type,metro,metro_distance,square,price,floor,floors,mon_price
0,合租·地杰国际城F欧香四季4居室-南卧,合租,御桥,191,18,3560,14,18,3560
1,整租·华升公寓2室1厅-南,整租,江浦路,150,96,9460,20,34,9460
2,合租·博爱家园4居室-南卧,合租,高科西路,234,17,3290,6,6,3290
3,合租·紫叶花园东园4居室-南卧,合租,北蔡,216,17,3030,5,6,3030
4,合租·仁和苑4居室-南卧,合租,江湾体育场,243,17,3990,7,12,3990

In [26]:
housing['price']=housing['mon_price']
housing=housing.drop('mon_price',axis=1)
housing.head()

,title,type,metro,metro_distance,square,price,floor,floors
0,合租·地杰国际城F欧香四季4居室-南卧,合租,御桥,191,18,3560,14,18
1,整租·华升公寓2室1厅-南,整租,江浦路,150,96,9460,20,34
2,合租·博爱家园4居室-南卧,合租,高科西路,234,17,3290,6,6
3,合租·紫叶花园东园4居室-南卧,合租,北蔡,216,17,3030,5,6
4,合租·仁和苑4居室-南卧,合租,江湾体育场,243,17,3990,7,12

In [32]:
housing.dtypes

title             object
type              object
metro             object
metro_distance     int64
square             int64
price              int64
floor              int64
floors             int64
dtype: object

In [34]:
station_df=pd.read_excel('上海各区地铁站分布.xlsx',header=0)
station_df.head()

  distinct station
0      黄浦区    人民广场
1      黄浦区    南京东路
2      黄浦区    南浦大桥
3      黄浦区     大世界
4      黄浦区     小南门

In [41]:
Ziroom_housing=pd.merge(housing,station_df,left_on='metro',right_on='station',how='left')
print(Ziroom_housing.shape)
Ziroom_housing.head()

(1327, 10)

,title,type,metro,metro_distance,square,price,floor,floors,distinct,station
0,合租·地杰国际城F欧香四季4居室-南卧,合租,御桥,191,18,3560,14,18,浦东新区,御桥
1,整租·华升公寓2室1厅-南,整租,江浦路,150,96,9460,20,34,杨浦区,江浦路
2,合租·博爱家园4居室-南卧,合租,高科西路,234,17,3290,6,6,浦东新区,高科西路
3,合租·紫叶花园东园4居室-南卧,合租,北蔡,216,17,3030,5,6,浦东新区,北蔡
4,合租·仁和苑4居室-南卧,合租,江湾体育场,243,17,3990,7,12,杨浦区,江湾体育场

In [43]:
Ziroom_housing= Ziroom_housing.dropna()
Ziroom_housing.shape

(1290, 10)

In [45]:
Ziroom_housing.drop('metro',axis=1,inplace=True)
Ziroom_housing.head(1)

,title,type,metro_distance,square,price,floor,floors,distinct,station
0,合租·地杰国际城F欧香四季4居室-南卧,合租,191,18,3560,14,18,浦东新区,御桥

In [46]:
import csv
Ziroom_housing.to_csv('Ziroom_shanghai.csv')